
<div id="modal02" class="ec-modal ring-size-modawindow">
<div class="ec-modal-wrap">
<div class="ec-modal__content">
<div class="ec-modal__bg ec-modal-close"></div>
<a class="ec-modal-close"></a>
<div class="ec-modal__inner">
<div class="section-header english">
  <h2 class="section-title"><ls-static-775010>ADJUSTER</ls-static-775010></h2>
  <span><ls-static-420862>チェーンの長さの調整方法</ls-static-420862></span>
  </div>
  <div class="ring-size-info">
    <div class="adjuster">
      <img src="https://cdn.shopify.com/s/files/1/0268/1202/2962/files/adjuster-1.png"><p><ls-static-197989>MONATRIER-モナトリエ-のアジャスターカンは、引き輪側に付いています。</ls-static-197989></p>
    </div>
    <div class="adjuster">
      <img src="https://cdn.shopify.com/s/files/1/0268/1202/2962/files/adjuster-2.png"><p><ls-static-743763>アジャスターカンを引き輪に通します。</ls-static-743763></p>
    </div>
    <div class="adjuster">
      <img src="https://cdn.shopify.com/s/files/1/0268/1202/2962/files/adjuster-3.png"><p><ls-static-629896>留め具プレートを一緒に留めていただくことで、-3cmまでの調整が可能です。</ls-static-629896></p>
    </div>
  </div>
  </div>
  </div>
  </div>
</div>
