{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/tatsumi-shimada.myshopify.com/products/configure/239588/edit
{% endcomment %}
{% if product.metafields.custom_fields["point_text"] != blank %}
  <div class="custom-field custom-field__point-text custom-field__type--text">
    <h3 class="custom-field--title"><ls-static-274276>おすすめポイントの文章</ls-static-274276></h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["point_text"] }}
    </div>
  </div>
{% endif %}