{% if article.metafields.custom_fields["blog-lead"] != blank %}
  <div class="custom-field custom-field__blog-lead custom-field__type--html">
    <h3 class="custom-field--title"><ls-static-447788>リード文</ls-static-447788></h3>
    <div class="custom-field--value">
      {{ article.metafields.custom_fields["blog-lead"] }}
    </div>
  </div>
{% endif %}