{% if product.metafields.custom_fields["stone"] != blank %}
  <div class="custom-field custom-field__stone custom-field__type--text">
    <h3 class="custom-field--title">石</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["stone"] }}
    </div>
  </div>
{% endif %}