{% if article.metafields.custom_fields["alt2-1"] != blank %}
  <div class="custom-field custom-field__alt2-1 custom-field__type--text">
    <h3 class="custom-field--title"><ls-static-680113>altタグ1</ls-static-680113></h3>
    <div class="custom-field--value">
      {{ article.metafields.custom_fields["alt2-1"] }}
    </div>
  </div>
{% endif %}