{% if article.metafields.custom_fields["caption2-2"] != blank %}
  <div class="custom-field custom-field__caption2-2 custom-field__type--text">
    <h3 class="custom-field--title"><ls-static-94118>画像2 キャプション</ls-static-94118></h3>
    <div class="custom-field--value">
      {{ article.metafields.custom_fields["caption2-2"] }}
    </div>
  </div>
{% endif %}