{% if article.metafields.custom_fields["blog-image-1-2"] != blank %}
  <div class="custom-field custom-field__blog-image-1-2 custom-field__type--image">
    <h3 class="custom-field--title"><ls-static-663207>画像2</ls-static-663207></h3>
    <div class="custom-field--value">  
      {% render 'cf-image' with image: article.metafields.custom_fields["blog-image-1-2"], print: 'url' %}
    </div>
  </div>
{% endif %}