{% if article.metafields.custom_fields["alt2-2"] != blank %}
  <div class="custom-field custom-field__alt2-2 custom-field__type--text">
    <h3 class="custom-field--title"><ls-static-737632>altタグ2</ls-static-737632></h3>
    <div class="custom-field--value">
      {{ article.metafields.custom_fields["alt2-2"] }}
    </div>
  </div>
{% endif %}