{% if article.metafields.custom_fields["caption3-2"] != blank %}
  <div class="custom-field custom-field__caption3-2 custom-field__type--text">
    <h3 class="custom-field--title"><ls-static-800588>画像2 キャプション</ls-static-800588></h3>
    <div class="custom-field--value">
      {{ article.metafields.custom_fields["caption3-2"] }}
    </div>
  </div>
{% endif %}