{% if article.metafields.custom_fields["alt-1-1"] != blank %}
  <div class="custom-field custom-field__alt-1-1 custom-field__type--text">
    <h3 class="custom-field--title"><ls-static-849039>altタグ1</ls-static-849039></h3>
    <div class="custom-field--value">
      {{ article.metafields.custom_fields["alt-1-1"] }}
    </div>
  </div>
{% endif %}