{% if article.metafields.custom_fields["caption3-3"] != blank %}
  <div class="custom-field custom-field__caption3-3 custom-field__type--text">
    <h3 class="custom-field--title"><ls-static-939145>画像3 キャプション</ls-static-939145></h3>
    <div class="custom-field--value">
      {{ article.metafields.custom_fields["caption3-3"] }}
    </div>
  </div>
{% endif %}