{% if article.metafields.custom_fields["gallery-3"] != blank %}
  <div class="custom-field custom-field__gallery-3 custom-field__type--collection-reference">
    <h3 class="custom-field--title"><ls-static-62384>ギャラリーセクション</ls-static-62384></h3>
    <div class="custom-field--value">  
      {% assign collection_ref = collections[article.metafields.custom_fields["gallery-3"]] %}
      {{ collection_ref.title | link_to: collection_ref.url }}
    </div>
  </div>
{% endif %}