{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/tatsumi-shimada.myshopify.com/products/configure/239589/edit
{% endcomment %}
{% if product.metafields.custom_fields["point_image"] != blank %}
  <div class="custom-field custom-field__point-image custom-field__type--image">
    <h3 class="custom-field--title"><ls-static-292595>おすすめポイントの画像</ls-static-292595></h3>
    <div class="custom-field--value">  
      {% include 'cf-image' with image: product.metafields.custom_fields["point_image"] %}
    </div>
  </div>
{% endif %}