{% if article.metafields.custom_fields["alt3-3"] != blank %}
  <div class="custom-field custom-field__alt3-3 custom-field__type--text">
    <h3 class="custom-field--title"><ls-static-903328>altタグ3</ls-static-903328></h3>
    <div class="custom-field--value">
      {{ article.metafields.custom_fields["alt3-3"] }}
    </div>
  </div>
{% endif %}