{% if article.metafields.custom_fields["caption1-3"] != blank %}
  <div class="custom-field custom-field__caption1-3 custom-field__type--text">
    <h3 class="custom-field--title"><ls-static-686514>画像3 キャプション</ls-static-686514></h3>
    <div class="custom-field--value">
      {{ article.metafields.custom_fields["caption1-3"] }}
    </div>
  </div>
{% endif %}