{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/tatsumi-shimada.myshopify.com/products/configure/246396/edit
{% endcomment %}
{% if product.metafields.custom_fields["series"] != blank %}
  <div class="custom-field custom-field__series custom-field__type--text">
    <h3 class="custom-field--title"><ls-static-561033>シリーズ</ls-static-561033></h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["series"] }}
    </div>
  </div>
{% endif %}