{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/tatsumi-shimada.myshopify.com/products/configure/253460/edit
{% endcomment %}
{% if product.metafields.custom_fields["topsize"] != blank %}
  <div class="custom-field custom-field__topsize custom-field__type--text">
    <h3 class="custom-field--title"><ls-static-597725>トップサイズ</ls-static-597725></h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["topsize"] }}
    </div>
  </div>
{% endif %}