{% if article.metafields.custom_fields["gallery-title-1"] != blank %}
  <div class="custom-field custom-field__gallery-title-1 custom-field__type--text">
    <h3 class="custom-field--title"><ls-static-542914>ギャラリータイトル</ls-static-542914></h3>
    <div class="custom-field--value">
      {{ article.metafields.custom_fields["gallery-title-1"] }}
    </div>
  </div>
{% endif %}