{% if article.metafields.custom_fields["caption2-3"] != blank %}
  <div class="custom-field custom-field__caption2-3 custom-field__type--text">
    <h3 class="custom-field--title"><ls-static-957199>画像3 キャプション</ls-static-957199></h3>
    <div class="custom-field--value">
      {{ article.metafields.custom_fields["caption2-3"] }}
    </div>
  </div>
{% endif %}