{% if article.metafields.custom_fields["gallery-title-2"] != blank %}
  <div class="custom-field custom-field__gallery-title-2 custom-field__type--text">
    <h3 class="custom-field--title">ギャラリータイトル</h3>
    <div class="custom-field--value">
      {{ article.metafields.custom_fields["gallery-title-2"] }}
    </div>
  </div>
{% endif %}