{% if article.metafields.custom_fields["caption2-3"] != blank %}
  <div class="custom-field custom-field__caption2-3 custom-field__type--text">
    <h3 class="custom-field--title">画像3 キャプション</h3>
    <div class="custom-field--value">
      {{ article.metafields.custom_fields["caption2-3"] }}
    </div>
  </div>
{% endif %}