{% if article.metafields.custom_fields["blog-image-2-2"] != blank %}
  <div class="custom-field custom-field__blog-image-2-2 custom-field__type--image">
    <h3 class="custom-field--title">画像2</h3>
    <div class="custom-field--value">  
      {% render 'cf-image' with image: article.metafields.custom_fields["blog-image-2-2"], print: 'url' %}
    </div>
  </div>
{% endif %}