{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/tatsumi-shimada.myshopify.com/products/configure/239564/edit
{% endcomment %}
{% if product.metafields.custom_fields["chain"] != blank %}
  <div class="custom-field custom-field__chain custom-field__type--text">
    <h3 class="custom-field--title"><ls-static-198715>チェーン</ls-static-198715></h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["chain"] }}
    </div>
  </div>
{% endif %}