{% if article.metafields.custom_fields["alt2-3"] != blank %}
  <div class="custom-field custom-field__alt2-3 custom-field__type--text">
    <h3 class="custom-field--title"><ls-static-782580>altタグ3</ls-static-782580></h3>
    <div class="custom-field--value">
      {{ article.metafields.custom_fields["alt2-3"] }}
    </div>
  </div>
{% endif %}