
    <a href="/account">{{ 'general.site.mypage' | t }}</a>
     <a href="{{ routes.cart_url }}" class="js-drawer-open-cart" aria-controls="CartDrawer" >{{ 'general.site.cart' | t }}
       {% if cart.item_count > 0 %}
       <span class="cart-item-count">{{ cart.item_count }}</span>
       {% endif %}
    </a>
  <a class ="favorite-icon" href="/pages/favorite-list"><svg xmlns="http://www.w3.org/2000/svg" width="30.644" height="28.795" viewBox="0 0 30.644 28.795">
  <g id="合体_2" data-name="合体 2" fill="none">
    <path d="M 15.39791584014893 25.92245101928711 L 26.59348487854004 14.38867092132568 C 29.33002662658691 11.56942367553711 29.33022880554199 6.982316970825195 26.59402084350586 4.162853240966797 L 26.52534484863281 4.092501163482666 L 26.52329444885254 4.090401172637939 L 26.52125358581543 4.088301181793213 C 25.21436500549316 2.741641044616699 23.48122406005859 2.000001192092896 21.64110374450684 2.000001192092896 C 19.80209732055664 2.000001192092896 18.06991386413574 2.740773439407349 16.76330184936523 4.085873126983643 L 16.76146507263184 4.087790966033936 L 16.75792503356934 4.091431140899658 L 15.32212448120117 5.57210111618042 L 13.88632488250732 4.091431140899658 L 13.88350296020508 4.088505744934082 L 13.88330459594727 4.088301181793213 C 12.57641410827637 2.741641044616699 10.84327411651611 2.000001192092896 9.003154754638672 2.000001192092896 C 7.163024425506592 2.000001192092896 5.429884433746338 2.741641044616699 4.125904560089111 4.085300922393799 L 4.051334381103516 4.162441253662109 C 1.314144492149353 6.981781005859375 1.314144492149353 11.56919097900391 4.051514625549316 14.38870143890381 L 15.24637508392334 25.92240715026855 L 15.32212448120117 25.84429168701172 L 15.39791584014893 25.92245101928711 M 15.39706420898438 28.79480171203613 L 15.32569408416748 28.72095108032227 C 15.32441425323486 28.71964073181152 15.32340431213379 28.71857070922852 15.32212448120117 28.71725082397461 C 15.32084465026855 28.71857070922852 15.31983470916748 28.71964073181152 15.31855487823486 28.72095108032227 L 15.24718475341797 28.79480171203613 L 2.616374492645264 15.78168106079102 C -0.872125506401062 12.18849086761475 -0.872125506401062 6.362481117248535 2.616374492645264 2.769291162490845 L 2.687744379043579 2.695441007614136 C 4.431634426116943 0.8984811305999756 6.717391967773438 1.125183075600944e-06 9.003149032592773 1.125183075600944e-06 C 11.28890705108643 1.125183075600944e-06 13.57466411590576 0.8984811305999756 15.31855487823486 2.695441007614136 C 15.31983470916748 2.696751117706299 15.32084465026855 2.697821140289307 15.32212448120117 2.699141025543213 C 15.32340431213379 2.697821140289307 15.32441425323486 2.696751117706299 15.32569408416748 2.695441007614136 C 17.06958389282227 0.8984811305999756 19.35534286499023 1.125183075600944e-06 21.64109992980957 1.125183075600944e-06 C 23.92685699462891 1.125183075600944e-06 26.21261405944824 0.8984811305999756 27.95650482177734 2.695441007614136 L 28.02859497070313 2.769291162490845 C 31.5163745880127 6.362481117248535 31.5163745880127 12.18849086761475 28.02859497070313 15.78168106079102 L 15.39706420898438 28.79480171203613 Z" stroke="none" fill="#4b4b4b"/>
  </g>
</svg>
</a>


{% assign pageurl = content_for_header| split:'"pageurl":"' | last | split:'"' | first %}

<a class="select-lang">
  {% if pageurl contains "/en" %}
  <ls-static-614708>EN</ls-static-614708>
  {% elsif pageurl contains "/zh-cn" or  pageurl contains "/zh-CN" %}
  <ls-static-404858>CN</ls-static-404858>
  {% elsif pageurl contains "/zh-tw" or pageurl contains "/zh-TW" %}
  <ls-static-917913>TW</ls-static-917913>
  {% else %}
  <ls-static-556754>JA</ls-static-556754>
  {% endif %} 
</a>
<div class="select-lang-wrap">
<ul>
  <li><a href="/" class="{% if request.locale.name == "日本語" %}is-active{% endif %}"><ls-static-620383>日本語</ls-static-620383></a></li>
  <li><a href="/en" class="{% if request.locale.name == "English" %}is-active{% endif %}"><ls-static-898257>ENGLISH</ls-static-898257></a></li>
  <li><a href="/zh-tw" class="{% if request.locale.name == "繁體中文" %}is-active{% endif %}"><ls-static-353917>繁体字</ls-static-353917></a></li>  
  <li><a href="/zh-cn" class="{% if request.locale.name == "简体中文" %}is-active{% endif %}"><ls-static-671070>簡体字</ls-static-671070></a></li>
</ul>
</div>
  


<script>
$(function() {
  $('.select-lang').hover(function() { 
    $(this).next().stop().fadeIn(150, "linear");
  }, function() {
    $(this).next().stop().fadeOut(150, "linear");
  });
});
$(function() {
  $('.select-lang-wrap').hover(function() { 
    $(this).stop().fadeIn(0, "linear");
  }, function() {
    $(this).stop().fadeOut(0, "linear");
  });
});
  
</script>