{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% render 'custom_fields.products.cf_01' %}
  {% render 'custom_fields.products.size' %}
  {% render 'custom_fields.products.metal' %}
  {% render 'custom_fields.products.arm' %}
  {% render 'custom_fields.products.motif' %}
  {% render 'custom_fields.products.topsize' %}
  {% render 'custom_fields.products.chain' %}
  {% render 'custom_fields.products.stone' %}
  {% render 'custom_fields.products.weight' %}
  {% render 'custom_fields.products.point_text' %}
  {% render 'custom_fields.products.point_image' %}
  {% render 'custom_fields.products.series' %}
  {% render 'custom_fields.products.style' %}
</div>