{% comment %}
<section class="service">
<div class="page-width">
  <div class="section-header">
      <h2 class="section-header__title"><ls-static-933434>SERVICE</ls-static-933434></h2>
    <span><ls-static-543741>ギフトラッピングやカスタムオーダーは</ls-static-543741><br class="br-sp"><ls-static-673608>お気軽にご相談ください</ls-static-673608></span>
  </div>
  <div class="grid grid--uniform">
    <div class="grid__item medium-up--one-third">
      <a href="#">
        <img src="https://cdn.shopify.com/s/files/1/0268/1202/2962/files/GIFFT.png?v=1609090960">
        <div class="service-info">
        <h3><ls-static-6150>GIFT WRAPPING</ls-static-6150></h3>
        <span><ls-static-596074>大切な人への贈りものに</ls-static-596074></span>
        </div>
      </a>
    </div>
    <div class="grid__item medium-up--one-third ">
      <a href="#">
        <img src="https://cdn.shopify.com/s/files/1/0268/1202/2962/files/CUSTOM.png?v=1609090959">
        <div class="service-info">
        <h3><ls-static-756331>CUSTOM ORDER</ls-static-756331></h3>
        <span><ls-static-472386>リングの刻印や石の変更も承ります</ls-static-472386></span>
        </div>
      </a>
    </div>
    <div class="grid__item medium-up--one-third">
      <a href="#">
        <img src="https://cdn.shopify.com/s/files/1/0268/1202/2962/files/AFTER.png?v=1609090959">
        <div class="service-info">
        <h3><ls-static-936724>AFTER SERVICE</ls-static-936724></h3>
        <span><ls-static-246108>修理・メンテナンスについて</ls-static-246108></span>
        </div>
      </a>
    </div>
  </div>
</div>
</section>
{% endcomment %}