      <div class="sp-menu-multiple">
      <div class="hamub-main-sp">

        <div class="sp-main-menu">
          <a class="navi-text" href="/collections/all">
            <div>
              <p class="text-20px yu_gothic"><ls-static-708673>ジュエリー</ls-static-708673></p>
              <p class="text-14px"><ls-static-676766>JEWELRY</ls-static-676766></p>
            </div>
          </a>
        </div>
        <div class="sp-main-menu">
          <a class="navi-text" href="/pages/quality">
            <div>
              <p class="text-20px yu_gothic"><ls-static-359412>品質</ls-static-359412></p>
              <p class="text-14px"><ls-static-575626>ABOUT</ls-static-575626></p>
            </div>
          </a>
        </div>
        <div class="sp-main-menu">
          <a class="navi-text" href="/pages/service">
            <div>
              <p class="text-20px yu_gothic"><ls-static-588223>アフターサービス</ls-static-588223></p>
              <p class="text-14px"><ls-static-857132>SERVICE</ls-static-857132></p>
            </div>
          </a>
        </div>
        
        <!-- <div class="hamub-sub-sp">
          <div class="hamub-sub-sp-left">
          	<a href="/pages/shoppingguide">{{ 'general.site.shoppingguide'|t  }}</a>
            <a href="/pages/contact">{{ 'general.site.contact'|t  }}</a>
          </div>
          <div class="hamub-sub-sp-right">
          	<a href="/pages/faq">{{ 'general.site.faq'|t  }}</a>
          	<a href="/pages/company">{{ 'general.site.company'|t  }}</a>
          </div>
        </div> -->
      </div>