    <!-- collection image -->
    <div class="pc">
      <div class="wide-content collection_image_position">
        <div class="collection_image">
          {{ 'concept_mv_pc.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
      </div>
    </div>

    <div class="sp">
      <div class="wide-content collection_image_position">
        <div class="collection_image">
          {{ 'concept_mv_sp.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
      </div>
    </div>

    <!-- title -->
    <div class="content">
      <div class="title">
        <h3>リング</h3>
        <p>RING</p>
      </div>
    </div>



{% schema %}
{
    "name": "Main Menu",
    "settings": [
        {
            "type": "link_list",
            "id": "main_linklist",
            "label": "Menu",
            "default": "main-menu"
        }
    ]
}
  {% endschema %}