    <!-- collection image -->
    <div class="pc">
      <div class="wide-content collection_image_position">
        <div class="collection_image">
          {{ 'concept_mv_pc.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
      </div>
    </div>

    <div class="sp">
      <div class="wide-content collection_image_position">
        <div class="collection_image">
          {{ 'concept_mv_sp.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
      </div>
    </div>

    <!-- title -->
    <div class="content">
      <div class="title">
        <h3>リング</h3>
        <p>RING</p>
      </div>
    </div>

    <!-- news -->
    <div class="content">

    <div>

{% schema %}
{
  "name": {
    "ja": "コンテンツ"
  },
  "class": "content_image",
  "blocks": [
      {
        "name": "image",
        "type" : "header",
        "settings": [
          {
            "type" : "image_picker",
            "id" : "content_image_pc",
            "label" : "コンテンツ画像(PC)"
          },
          {
            "type" : "image_picker",
            "id" : "content_image_sp",
            "label" : "コンテンツ画像(SP)"
          },
          {
            "type" : "text",
            "id" : "content_text_jp",
            "label" : "テキスト(日本語)"
          },
          {
            "type" : "text",
            "id" : "content_text_en",
            "label" : "テキスト(英語)"
          },
          {
            "type" : "url",
            "id" : "content_link",
            "label" : "リンクURL"
          }
        ]
      }
  ],
  "presets": [
    {
      "name": {
        "ja": "コンテンツ"
      },
      "category": {
        "ja": "新規メニュー"
      }
    }
  ]
}
{% endschema %}