<!-- column -->
<div class="content">
  <div class="column_col">
    <div class="title">
      <h3><ls-static-732897>コラム</ls-static-732897></h3>
      <p><ls-static-470704>COLUMN</ls-static-470704></p>
    </div>
    <div class="cssreset">
      <ul>
        {%- assign columns = blogs[section.settings.column] -%}
        {% for column in columns.articles limit:section.settings.column_limit %}
          <li>
            <a href="{{ column.url }}">
              <div class="column_row">
                <div class="tt_drugs_r">
                    <p>{{ column.published_at | date: '%Y/%m/%d' }}</p>
                </div>
                <div>
                  <p>{{ column.title }}</p>
                </div>
              </div>
            </a>
          </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>

<!-- btn_right -->
<div class="content">
  <div class="btn_right">
    <a href="https://monatelier-jewelry.com/blogs/post"><span>さらにお知らせを見る</span><br>
    <span>VIEW ALL</span></a>
  </div>
</div>

{% schema %}
{
  "name": {
    "ja": "コラム"
    },
  "settings": [
    {
      "id": "column",
      "type": "blog",
      "label": {
        "ja": "コラム"
      }
    },
    {
      "id": "column_limit",
      "type": "number",
      "label": {
        "ja": "表示する数"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "ja": "コラム"
        },
      "category": {
        "ja": "新規メニュー"
        }
    }
  ]
}
{% endschema %}
