<div class="contact-us">
<div class="lottie-player-torigger"></div>
  <lottie-player 
class="lottie-04" src="https://assets3.lottiefiles.com/packages/lf20_1dqynhzm.json" background="transparent" speed="1" style="width: 1080; height: 1080px;" autoplay="true" ></lottie-player>
     <div class="para-img medium--hide is-5"><img src="https://cdn.shopify.com/s/files/1/0268/1202/2962/files/ring-5.png"></div>
  
  <div class="page-width">
<div class="contuct-us-header">
      <h2 class="section-header__title">{{ 'general.site.contact' |t }}</h2>
  </div>
<P>{{ 'general.contact.text_html' | t }}</P>
  
    <div class="rte"><a href="/pages/contact" class="see-more left">{{ 'general.contact.getintouch' |t }}</a></div>
  </div>
  
</div>

{% schema %}
{
"name": "CONTACT US",
"settings": [],
"presets": [
{
"name": "CONTACT US",
"category": "ADVANCED LAYOUT"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
