<!-- footer -->
<div class="content">
  <div class="footer">

    <div class="footer_logo">
      <p class="logo">
        {{ 'logo.svg' | asset_url | img_tag }}
      </p>
      <div class="social_row">
        <div>
          {{ 'insta_icon.svg' | asset_url | img_tag }}
        </div>
        <div>
          {{ 'facebook_icon.svg' | asset_url | img_tag }}
        </div>
        <div>
          {{ 'twitter_icon.svg' | asset_url | img_tag }}
        </div>
      </div>
      <div class="btn_page_top tt_drugs_r">
        <a href="">PAGE TOP</a>
      </div>
    </div>

    <div class="footer_nav cssreset">
      <div>
        <div class="footer_nav_title"><p>カテゴリー</p><p>CATEGORY</p></div>
        <div>
          <ul class="footer_nav_list">
            <li>新作ジュエリー</li>
            <li>ネックレス</li>
            <li>リング</li>
            <li>ピアス</li>
            <li>ブレスレット</li>
          </ul>
        </div>
      </div>
      <div>
        <div class="footer_nav_title"><p>コンセプト</p><p>CONCEPT</p></div>
        <div>
          <ul class="footer_nav_list">
            <li>サイトコンセプト</li>
            <li>素材について</li>
          </ul>
        </div>
      </div>
      <div>
        <div class="footer_nav_title"><p>コラム</p><p>COLUMN</p></div>
        <div>
          <ul class="footer_nav_list">
            <li>コラムジャンル1</li>
            <li>コラムジャンル2</li>
          </ul>
        </div>
      </div>
      <div>
        <div class="footer_nav_title"><p>ガイド</p><p>GUIDE</p></div>
        <div>
        </div>
      </div>
      <div>
        <div class="footer_nav_title"><p>アフターサービス</p><p>SERVICE</p></div>
        <div>
        </div>
      </div>
      <div>
        <div class="footer_nav_title"><p>コンタクト</p><p>CONTACT</p></div>
        <div>
        </div>
      </div>
    </div>

    <div class="footer_bottom">
      <div class="pc"><p class="allright">© 2021 J-one All Rights Reserved.</p></div>
      <div>
        <ul class="footer_bottom_nav">
          <li>ご利用規約</li>
          <li>特定商取引法表記</li>
          <li>個人情報保護方針</li>
        </ul>
      </div>
      <div class="sp"><p class="allright">© 2021 J-one All Rights Reserved.</p></div>
    </div>
  </div>
</div>

</script>
{% schema %}
  {
    "name": "Footer",
    "max_blocks": 12,
    "settings": [
      {
        "type": "header",
        "content": "Language selector",
        "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
      },
      {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "Show language selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Currency selector",
        "info": "To add a currency, go to your [currency settings.](/admin/settings/payments)"
      },
      {
        "type": "checkbox",
        "id": "show_currency_selector",
        "label": "Show currency selector",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_currency_flags",
        "label": "Show currency flags",
        "default": true
      },
      {
        "type": "header",
        "content": "Additional footer content"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_copyright",
        "label": "Show copyright"
      },
      {
        "type": "text",
        "id": "copyright_text",
        "label": "Additional copyright text"
      }
    ],
    "blocks": [
      {
        "type": "logo_social",
        "name": "Logo",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo image"
          },
          {
            "type": "range",
            "id": "desktop_logo_height",
            "label": "Logo height",
            "default": 50,
            "min": 20,
            "max": 120,
            "unit": "px"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 25,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      },
      {
        "type": "menu",
        "name": "Navigation",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_footer_title",
            "label": "Show heading"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Choose a menu",
            "default": "footer",
            "info": "This menu won't show dropdown items"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 25,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "Newsletter and social",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_footer_title",
            "label": "Show heading",
            "default": true
          },
          {
            "type": "paragraph",
            "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers)."
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Sign up and save"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "info": "Optional",
            "default": "<p>Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.</p>"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 25,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      },
      {
        "type": "custom",
        "name": "Custom text",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_footer_title",
            "label": "Show heading",
            "default": true
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Custom text"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Add your own custom text here.</p>"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 25,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      }
    ],
    "default": {
      "settings": {},
      "blocks": [
        {
          "type": "menu",
          "settings": {}
        },
        {
          "type": "logo_social",
          "settings": {}
        }
      ]
    }
  }
{% endschema %}
