<!-- footer -->
<div class="content">
  <div class="footer">

    <div class="footer_logo">
      <p class="logo">
        {{ 'logo' | asset_url | img_tag }}
      </p>
      <div class="social_row">
        <div>
          {{ 'insta_icon' | asset_url | img_tag }}
        </div>
        <div>
          {{ 'facebook_icon' | asset_url | img_tag }}
        </div>
        <div>
          {{ 'twitter_icon' | asset_url | img_tag }}
        </div>
      </div>
      <div class="btn_page_top tt_drugs_r">
        <a href="">PAGE TOP</a>
      </div>
    </div>

    <div class="footer_nav cssreset">
      <div>
        <div class="footer_nav_title"><p>カテゴリー</p><p>CATEGORY</p></div>
        <div>
          <ul class="footer_nav_list">
            <li>新作ジュエリー</li>
            <li>ネックレス</li>
            <li>リング</li>
            <li>ピアス</li>
            <li>ブレスレット</li>
          </ul>
        </div>
      </div>
      <div>
        <div class="footer_nav_title"><p>コンセプト</p><p>CONCEPT</p></div>
        <div>
          <ul class="footer_nav_list">
            <li>サイトコンセプト</li>
            <li>素材について</li>
          </ul>
        </div>
      </div>
      <div>
        <div class="footer_nav_title"><p>コラム</p><p>COLUMN</p></div>
        <div>
          <ul class="footer_nav_list">
            <li>コラムジャンル1</li>
            <li>コラムジャンル2</li>
          </ul>
        </div>
      </div>
      <div>
        <div class="footer_nav_title"><p>ガイド</p><p>GUIDE</p></div>
        <div>
        </div>
      </div>
      <div>
        <div class="footer_nav_title"><p>アフターサービス</p><p>SERVICE</p></div>
        <div>
        </div>
      </div>
      <div>
        <div class="footer_nav_title"><p>コンタクト</p><p>CONTACT</p></div>
        <div>
        </div>
      </div>
    </div>

    <div class="footer_bottom">
      <div class="pc"><p class="allright">© 2021 J-one All Rights Reserved.</p></div>
      <div>
        <ul class="footer_bottom_nav">
          <li>ご利用規約</li>
          <li>特定商取引法表記</li>
          <li>個人情報保護方針</li>
        </ul>
      </div>
      <div class="sp"><p class="allright">© 2021 J-one All Rights Reserved.</p></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": {
    "ja": "サンプルセクション"
  },
  "class": "sample_section",
  "blocks": [
    {
      "type": "custom",
      "name": {
        "ja": "画像"
      },
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image_picker",
          "label": {
            "ja": "画像"
          }
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "is_visivle",
      "label": {
        "ja": "表示する？"
      },
      "info": {
        "ja": "チェックを入れると表示、外すと非表示になります。"
      }
    },
    {
      "type": "textarea",
      "id": "text",
      "label": {
        "ja": "本文"
      },
      "default": {
        "ja": "default text. default text."
      }
    }
  ],
  "presets": [
    {
      "name": {
        "ja": "サンプルセクション"
      },
      "category": {
        "ja": "_カスタム"
      }
    }
  ]
}
{% endschema %}
