<!-- footer -->
<div class="content">
  <div class="footer">

    <div class="footer_logo">
      <p class="logo">
        {{ 'logo.svg' | asset_url | img_tag }}
      </p>
      <div class="social_row">
        <div>
          {{ 'insta_icon.svg' | asset_url | img_tag }}
        </div>
        <div>
          {{ 'facebook_icon.svg' | asset_url | img_tag }}
        </div>
        <div>
          {{ 'twitter_icon.svg' | asset_url | img_tag }}
        </div>
      </div>
      <div class="btn_page_top tt_drugs_r">
        <a href=""><ls-static-265947>PAGE TOP</ls-static-265947></a>
      </div>
    </div>

    <div class="footer_nav cssreset">
      <div>
        <div class="footer_nav_title"><p><ls-static-730678>カテゴリー</ls-static-730678></p><p><ls-static-87795>CATEGORY</ls-static-87795></p></div>
        <div>
          <ul class="footer_nav_list">
            <li><ls-static-660306>新作ジュエリー</ls-static-660306></li>
            <li><ls-static-565824>ネックレス</ls-static-565824></li>
            <li><ls-static-967828>リング</ls-static-967828></li>
            <li><ls-static-131436>ピアス</ls-static-131436></li>
            <li><ls-static-439848>ブレスレット</ls-static-439848></li>
          </ul>
        </div>
      </div>
      <div>
        <div class="footer_nav_title"><p><ls-static-109355>コンセプト</ls-static-109355></p><p><ls-static-254683>CONCEPT</ls-static-254683></p></div>
        <div>
          <ul class="footer_nav_list">
            <li><ls-static-272240>サイトコンセプト</ls-static-272240></li>
            <li><ls-static-289928>素材について</ls-static-289928></li>
          </ul>
        </div>
      </div>
      <div>
        <div class="footer_nav_title"><p><ls-static-270905>コラム</ls-static-270905></p><p><ls-static-700148>COLUMN</ls-static-700148></p></div>
        <div>
          <ul class="footer_nav_list">
            <li><ls-static-494063>コラムジャンル1</ls-static-494063></li>
            <li><ls-static-97176>コラムジャンル2</ls-static-97176></li>
          </ul>
        </div>
      </div>
      <div>
        <div class="footer_nav_title"><p><ls-static-814660>ガイド</ls-static-814660></p><p><ls-static-608304>GUIDE</ls-static-608304></p></div>
        <div>
        </div>
      </div>
      <div>
        <div class="footer_nav_title"><p><ls-static-300255>アフターサービス</ls-static-300255></p><p><ls-static-685702>SERVICE</ls-static-685702></p></div>
        <div>
        </div>
      </div>
      <div>
        <div class="footer_nav_title"><p><ls-static-161888>コンタクト</ls-static-161888></p><p><ls-static-488876>CONTACT</ls-static-488876></p></div>
        <div>
        </div>
      </div>
    </div>

    <div class="footer_bottom">
      <div class="pc"><p class="allright"><ls-static-995922>© 2021 J-one All Rights Reserved.</ls-static-995922></p></div>
      <div>
        <ul class="footer_bottom_nav">
          <li><ls-static-985083>ご利用規約</ls-static-985083></li>
          <li><ls-static-931577>特定商取引法表記</ls-static-931577></li>
          <li><ls-static-239349>個人情報保護方針</ls-static-239349></li>
        </ul>
      </div>
      <div class="sp"><p class="allright"><ls-static-556593>© 2021 J-one All Rights Reserved.</ls-static-556593></p></div>
    </div>
  </div>
</div>

</script>
{% schema %}
  {
    "name": "Footer",
    "max_blocks": 12,
    "settings": [
      {
        "type": "header",
        "content": "Language selector",
        "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
      },
      {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "Show language selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Currency selector",
        "info": "To add a currency, go to your [currency settings.](/admin/settings/payments)"
      },
      {
        "type": "checkbox",
        "id": "show_currency_selector",
        "label": "Show currency selector",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_currency_flags",
        "label": "Show currency flags",
        "default": true
      },
      {
        "type": "header",
        "content": "Additional footer content"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_copyright",
        "label": "Show copyright"
      },
      {
        "type": "text",
        "id": "copyright_text",
        "label": "Additional copyright text"
      }
    ],
    "blocks": [
      {
        "type": "logo_social",
        "name": "Logo",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo image"
          },
          {
            "type": "range",
            "id": "desktop_logo_height",
            "label": "Logo height",
            "default": 50,
            "min": 20,
            "max": 120,
            "unit": "px"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 25,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      },
      {
        "type": "menu",
        "name": "Navigation",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_footer_title",
            "label": "Show heading"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Choose a menu",
            "default": "footer",
            "info": "This menu won't show dropdown items"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 25,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "Newsletter and social",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_footer_title",
            "label": "Show heading",
            "default": true
          },
          {
            "type": "paragraph",
            "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers)."
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Sign up and save"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "info": "Optional",
            "default": "<p>Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.</p>"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 25,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      },
      {
        "type": "custom",
        "name": "Custom text",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_footer_title",
            "label": "Show heading",
            "default": true
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Custom text"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Add your own custom text here.</p>"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 25,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      }
    ],
    "default": {
      "settings": {},
      "blocks": [
        {
          "type": "menu",
          "settings": {}
        },
        {
          "type": "logo_social",
          "settings": {}
        }
      ]
    }
  }
{% endschema %}
