<!-- column -->
<div class="content">
  <div class="column_col">
    <div class="title">
      <h3><ls-static-450137>コラム</ls-static-450137></h3>
      <p><ls-static-109532>COLUMN</ls-static-109532></p>
    </div>
    <div class="cssreset">
      <ul>
        <li>
          <div class="column_row">
            <div class="tt_drugs_r">
                <p>2021.01.01</p>
            </div>
            <div>
              <p><ls-static-168170>○○のお知らせテキストテキストテキストテキスト</ls-static-168170></p>
            </div>
          </div>
        </li>
        <li>
          <div class="column_row">
            <div class="tt_drugs_r">
                <p>2021.01.01</p>
            </div>
            <div>
              <p><ls-static-836763>○○のお知らせテキストテキストテキストテキスト</ls-static-836763></p>
            </div>
          </div>
        </li>
        <li>
          <div class="column_row">
            <div class="tt_drugs_r">
                <p>2021.01.01</p>
            </div>
            <div>
              <p><ls-static-868805>○○のお知らせテキストテキストテキストテキスト</ls-static-868805></p>
            </div>
          </div>
        </li>
        <li>
          <div class="column_row">
            <div class="tt_drugs_r">
                <p>2021.01.01</p>
            </div>
            <div>
              <p><ls-static-277970>○○のお知らせテキストテキストテキストテキスト</ls-static-277970></p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
