<!-- category -->
<div class="content">
  <div class="top_category">
    <div>
      <a href="">
        <div>
          <span><ls-static-638239>ネックレス</ls-static-638239></span><br><span><ls-static-169237>NECKLACE</ls-static-169237></span>
        </div>
        <div>{{ 'arrow_btn.png' | asset_url | img_tag }}</div>
      </a>
    </div>
    <div>
      <a href="">
        <div>
          <span><ls-static-887516>リング</ls-static-887516></span><br><span><ls-static-571923>RING</ls-static-571923></span>
        </div>
        <div>{{ 'arrow_btn.png' | asset_url | img_tag }}</div>
      </a>
    </div>
    <div>
      <a href="">
        <div>
          <span><ls-static-842538>ピアス</ls-static-842538></span><br><span><ls-static-106212>EARRING</ls-static-106212></span>
        </div>
        <div>{{ 'arrow_btn.png' | asset_url | img_tag }}</div>
      </a>
    </div>
    <div>
      <a href="">
        <div>
          <span><ls-static-106152>ブレスレット</ls-static-106152></span><br><span><ls-static-515036>BRACELET</ls-static-515036></span>
        </div>
        <div>{{ 'arrow_btn.png' | asset_url | img_tag }}</div>
      </a>
    </div>
  </div>
</div>
