<!-- category -->
<div class="content">
  <div class="top_category">
    <div>
      <a href="">
        <div>
          <span><ls-static-705067>ネックレス</ls-static-705067></span><br><span><ls-static-680287>NECKLACE</ls-static-680287></span>
        </div>
        <div>{{ 'arrow_btn.png' | asset_url | img_tag }}</div>
      </a>
    </div>
    <div>
      <a href="">
        <div>
          <span><ls-static-956499>リング</ls-static-956499></span><br><span><ls-static-83291>RING</ls-static-83291></span>
        </div>
        <div>{{ 'arrow_btn.png' | asset_url | img_tag }}</div>
      </a>
    </div>
    <div>
      <a href="">
        <div>
          <span><ls-static-742589>ピアス</ls-static-742589></span><br><span><ls-static-299264>EARRING</ls-static-299264></span>
        </div>
        <div>{{ 'arrow_btn.png' | asset_url | img_tag }}</div>
      </a>
    </div>
    <div>
      <a href="">
        <div>
          <span><ls-static-687777>ブレスレット</ls-static-687777></span><br><span><ls-static-842560>BRACELET</ls-static-842560></span>
        </div>
        <div>{{ 'arrow_btn.png' | asset_url | img_tag }}</div>
      </a>
    </div>
  </div>
</div>
