<!-- title -->
<div class="content">
  <div class="title">
    <h3>{{section.settings.top_heading_jp }}</h3>
    <p>{{section.settings.top_heading_en }}</p>
  </div>
</div>

{% schema %}
{
      "name": "見出し",
      "settings": [
        {
          "type" : "text",
          "id": "top_heading_jp",
          "label": "見出し(日本語))"
        },
        {
          "type" : "text",
          "id": "top_heading_en",
          "label": "見出し(英語))"
        }
      ],
      "presets" : [
        {
          "name" : "見出し",
          "category" : "新規メニュー"
        }
      ]

    }
{% endschema %}
