<!-- category -->
<div class="content">
  <div class="top_category">
    <div>
      <a href="">
        <div>
          <span>ネックレス</span><br><span>NECKLACE</span>
        </div>
        <div>{{ 'arrow_btn.png' | asset_url | img_tag }}</div>
      </a>
    </div>
    <div>
      <a href="">
        <div>
          <span>リング</span><br><span>RING</span>
        </div>
        <div>{{ 'arrow_btn.png' | asset_url | img_tag }}</div>
      </a>
    </div>
    <div>
      <a href="">
        <div>
          <span>ピアス</span><br><span>EARRING</span>
        </div>
        <div>{{ 'arrow_btn.png' | asset_url | img_tag }}</div>
      </a>
    </div>
    <div>
      <a href="">
        <div>
          <span>ブレスレット</span><br><span>BRACELET</span>
        </div>
        <div>{{ 'arrow_btn.png' | asset_url | img_tag }}</div>
      </a>
    </div>
  </div>
</div>
