<!-- news -->
<div class="content">
  <div class="news">
    <div class="news_row">
      <div class="tt_drugs_r">
          <p>2021.01.01</p>
      </div>
      <div>
        <p>○○のお知らせテキストテキストテキストテキスト</p>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": {
    "ja": "サンプルセクション"
  },
  "class": "sample_section",
  "blocks": [
    {
      "type": "custom",
      "name": {
        "ja": "画像"
      },
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image_picker",
          "label": {
            "ja": "画像"
          }
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "is_visivle",
      "label": {
        "ja": "表示する？"
      },
      "info": {
        "ja": "チェックを入れると表示、外すと非表示になります。"
      }
    },
    {
      "type": "textarea",
      "id": "text",
      "label": {
        "ja": "本文"
      },
      "default": {
        "ja": "default text. default text."
      }
    }
  ],
  "presets": [
    {
      "name": {
        "ja": "サンプルセクション"
      },
      "category": {
        "ja": "_カスタム"
      }
    }
  ]
}
{% endschema %}
