

/*--------------------------------------------------------------------------------


ブログ


--------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------ブログ一覧--*/
#shopify-section-1525115199973{margin:0; padding:170px 0 100px;}
#shopify-section-1525115199973 .page-width{
    max-width:950px;
}
#shopify-section-1525115199973 ul{
    margin:0;
}
#shopify-section-1525115199973 .see-more{
    margin-top:44px;
    text-align: center;
}

.blog-list-mobile{display:none !important; }
.blog-list {
    width:100%; 
    border-top:solid 1px #EEEEEE; 
    border-bottom:solid 1px #EEEEEE; 
    margin-top:-1px;
    margin-bottom: 0px;
    padding: 19px 0;
}
.blog-list-item{
    display: flex; 
    flex-basis: 100%;
}
.blog-list .article__grid-image{
    width: 19%; 
    display: inline-block;
    margin-bottom: 0;
}
.blog-list-pc .image-wrap div{
    transition: transform 0.5s;
}

.blog-list-pc .image-wrap:hover div{
    transform: scale(1.07);
}

.blog-list  .grid__image-ratio--wide:before {
    padding-bottom: 75%;
}
.blog-list .blog-list-meta {
    padding-left:36px;
    width:80%;
    display: inline-block;
}
.blog-list .article__date {
  font-size:15px; 
  letter-spacing: 0.03em;
  color:#D3AD78; 
    margin-bottom: 12px;
}
.blog-list .article__date .blog-tag{
  font-family:  "TTDrugs-R" !important;
  font-size: 16px;
}
.blog-list .article__date time{color:#C9C9C9; margin-right:8px;}

.blog-list .article__title{
    width: 100%;
    display: block;
    margin-top:10px;
    padding-right: 60px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.12em;
    line-height: 1.35;
}

.blog-list-arrow{
    display: flex;
    align-items: center;
}
.blog-list-arrow svg{width: 8px;}
.blog-list a.see-more.text-link{margin-top:30px;}

@media only screen and (max-width: 768px)
{
#shopify-section-1525115199973{margin:0; padding:5vw 0;}
#shopify-section-1525115199973 .see-more{
    margin-top:0;
}
#shopify-section-1525115199973  .section-header {
  margin-bottom: 6vw;}
.blog-list-pc{display:none; }
.blog-list-mobile{display:block !important; }
#shopify-section-1525115199973 .page-width{
    padding:0;
}
.blog-list {
    width:100%; 
    border-top:solid 0px #EEEEEE; 
    border-bottom:solid 0px #EEEEEE; 
}
.blog-list-mobile .slick-list {
    padding: 0 10vw !important;
}
.blog-list-item{
    display: block;
    padding:0 5vw;
}
.blog-list .article__grid-image{width: 100%;}
.blog-list .blog-list-meta {
    padding-left:0;
    margin-top:5vw;
    width:100%;
}
.blog-list .article__date {
    font-size: 4vw;
}
.blog-list .article__title{
    margin-top:1.4vw;
    padding-right: 0;
    font-size: 4.2vw;
    letter-spacing: 0.5vw;
    line-height: 1.5;
}

.blog-list-arrow{display:none;}
#shopify-section-1525115199973 .slick-arrow{display:none !important;}
}

//ブログ一覧ヘッダー
.template-blog .page-width.narrow{
    margin-bottom: 143px;
}
.template-blog .section-header{padding: 83px 0 0;}
.template-blog .section-header h1{
    font-size: 59px;
    letter-spacing: 0.06em;
    margin-bottom: 5px;
}
.template-blog .section-header span{
    font-size: 15px;
    letter-spacing: 0.17em;
    color:#939393;
}
//ブログ一覧：カテゴリー
.blog-list .grid__image-ratio--wide:before {padding-bottom: 71.8%;}
.blog-tag-list{
    display: flex;
    font-size: 17px;
    letter-spacing: 0.06em;
    font-family: "TTDrugs-R" ;
    justify-content: center;
    margin: 56px 0 105px;
}
.blog-tag-list a{
    padding:0 27px;
    border-right: solid 1px #EEEEEE;
    height: 23px;
    display: block;
  	font-size:12px;
}
.blog-tag:last-child a{border-right: solid 0px #EEEEEE;}
.blog-tag.is-active a{
  color:#C9C9C9;
    pointer-events: none;

}
//ブログ一覧
.template-blog .blog-list{padding: 25px 0;}

@media only screen and (max-width: 768px){
//ブログ一覧ヘッダー
.template-blog .section-header{padding: 11.6vw 0 0;}
.template-blog .section-header h1{
    font-size:  12.5vw;
    letter-spacing: 0.07em;
    margin-bottom: 2.6vw;
}
.template-blog .section-header span{
    font-size: 3.5vw;
    letter-spacing: 0.08em;
}
//ブログ一覧：カテゴリー
.blog-tag-list{
    display: block;
    font-size: 4.5vw;
    letter-spacing: 0.06em;
    margin: 10.2vw 0 16vw;
}
.blog-tag-list a{
    padding: 0vw 2vw;
    border-right: solid 1px #EEEEEE;
    height: 6vw;
    display: block;
}
.blog-list-top{
    display: flex;
    justify-content: center;
    margin-bottom: 5.2vw;
}
.blog-list-bottom{
    display: flex;
    justify-content: center;
}

//ブログ一覧
.template-blog  .grid{margin: 0 !important;}
.template-blog .blog-list-item{padding:0;}
.template-blog .blog-list {padding: 0;}
  

//ブログ一覧：記事
.template-blog .blog-list .blog-list-meta {
    margin-top: 3.4vw;
    margin-bottom: 15vw;
}
.template-blog .blog-list .article__date{
    margin-bottom: 2.4vw;
}
.template-blog .blog-list .article__date time{
    font-size: 4vw;
    letter-spacing: 0.06em;
    margin-right: 2.6vw;
}
.template-blog .blog-list .article__date .blog-tag {
    font-size: 4vw;
    letter-spacing: 0.03em;
}
.template-blog .blog-list .article__title{
    font-size: 3.6vw;
    letter-spacing: 0.09em;}
  
.template-blog .page-width.narrow {
    margin-bottom: 20vw;
}
}
/*------------------------------------------------------------------------------------------------------------------ブログ記事--*/

//ブログ記事ヘッダー
#shopify-section-article-template{
    padding-top: 110px;
}
.template-article li{list-style: none;}
.template-article h1{
    font-size: 34px;
    letter-spacing: 0.12em;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif !important; font-weight:500;
    margin-bottom: 72px;
}
.template-article .article__date{
    margin-bottom: 26px;
}
.template-article .article__date time{
    font-size:16px;
    letter-spacing: 0.03em;
    color:#A5A5A5;
    margin-right: 12px;
}
.template-article .article__date a{
    font-size:15px;
    letter-spacing: 0.03em;
    font-family: "TTDrugs-R";
    color:#D3AD78;
    margin-right: 12px;
}
//ブログ記事ヘッダー画像
.template-article .collection-hero{
    height: 597px;
    margin-bottom: 66px;
    background:none;
}
.template-article .collection-hero__image {
    opacity: 0;
    animation: fade-in 1s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
}
.template-article .collection-hero__image.lazyloaded{ 
    animation: unset;
    opacity: 1;
}
//ブログ記事：本文
.article__body p{
    font-size: 15px;
    margin-bottom: 34px;
    line-height: 2.13;
    letter-spacing: 0.03em;
}
.article__body h2{
    font-size: 24px;
    letter-spacing: 0.14em;
    font-weight: 600;
    color: #C8AB7A;
    margin-bottom: 30px;
}
.blog-lead{
    margin-bottom: 124px;
}
.blog-lead p{ 
    letter-spacing: 0.07em ;
}
.blog-main-text{
    margin-bottom: 82px;
}
//ブログ記事：目次
#htag-list{
    background-color: #F8F6F4;
    padding: 55px;
    font-size: 14px;
    margin-bottom: 162px;
}
#htag-list:before{
    font-size: 23px;
    letter-spacing: 0.04em;
    content:"CONTENTS";
    font-family: "TTDrugs-R";
    color: #D3AD78;
    margin-bottom: 34px;
}
#htag-list > ol{
    margin: 16px 0 0 18px;
}
#htag-list > ol > li{
    margin: 8px 0 ;
    list-style: inherit;
}
//ブログ画像
.blog-images{
    width: 100%;
    background-size: cover;
    margin-bottom: 75px;
    position: relative;
}
.blog-images-half-wrap{
    display: flex;
}
.blog-images.is-half{
    width: 50%;
}
.blog-images.is-full img{
    width: 100%;
    height: 432px;
    object-fit: cover;
}
.blog-images.is-half img{
    width: 100%;
    height: 375px;
    object-fit: cover;
}

.blog-images.is-half:first-child{
    margin-right:30px;
}
.blog-images.is-half:last-child{
    margin-left:30px;
}
.blog-image-margin{
    margin-bottom: 124px;
}
//ブログ画像キャプション
.blog-image-caption{
    position: absolute;
    bottom: -32px;
    left: 0;
    font-size: 12px;
    letter-spacing: 0em;
    color: #707070;
    
}
//ブログ内コレクション
.blog-collection{
    margin-left: -35px;
  	margin-bottom: 65px;
}
h2.blog-collection-title{
    margin-bottom: 60px;
}
//次の記事
.blog-next-article{
    display: flex;
    border-top: solid 1px #DDDDDD;
    padding: 44px 0 0;
    margin-bottom: 160px;
}
.blog-prev,.blog-next{width: 50%;}
.blog-next-article .blog-list{border: 0px;}
.blog-next-article .blog-list .article__grid-image{width: 28.55%;}
.template-article .blog-next-article .grid__image-ratio {height: 85px;}
.blog-next-title{
    font-size: 26px;
    letter-spacing: 0.04em;
    font-family: "TTDrugs-R";
    display: block;
    margin-bottom: -6px;
}
.blog-next-article .blog-list-pc > p{
    font-size: 12px;
    letter-spacing: 0.14em;
    color: #c9c9c9;
    margin-bottom: 4px;
}
.blog-next-article .blog-list .article__date{
    margin-bottom: 0px;
}
.blog-next-article .blog-list .article__date time{
    font-size: 13px;
    letter-spacing: 0.14em;
    margin-right: 6px;
}
.blog-next-article .blog-list .blog-tag{
    font-size: 14px;
    letter-spacing: 0.03em;
}
.blog-next-article .blog-list .blog-list-meta {
    padding-left: 20px;
    width: 71.45%;
    margin-top: -4px;
}
.blog-next-article .blog-list .article__title{
    font-size: 14px;
    letter-spacing: 0.06em;
    margin-top: 4px;
    line-height: 1.5;
}
.blog-next-article svg{display: none;}
//最近の記事
.blog-related-title{
    font-size: 47px;
    letter-spacing: 0.08em;
    text-align: center;
    display: block;
    font-family: "TTDrugs-R";
    margin-bottom: -8px;
}
.blog-related p{
    font-size: 14.5px;
    letter-spacing: 0.18em;
    text-align: center;
    display: block;
    margin-bottom: 62px;
}
.template-article .blog-list-pc{
    margin: 0;
}
.template-article .grid__image-ratio{
    height: 120px;
}
.blog-related .rte{
    display: block;
    margin: 0 auto;
    width: 190px;
    text-align: center;
    margin-top: 47px;
}
.blog-related a.see-more{
    font-size: 21px;
    letter-spacing: 0.09em;
    display: block;
    padding-bottom: 7px;
    margin-bottom: 200px;
}
.blog-next-article ul.blog-list-pc.hidden{
    display: none !important;
}
  

@media only screen and (max-width: 768px)
{
.template-article .main-content{
    padding: 0;
}
.template-article .page-width.narrow {
    padding:0 ;
}
//ブログヘッダー
.template-article .blog-header{
    padding: 13.3vw 10vw 9.5vw;
}
.template-article .article__date time{
    font-size: 4.2vw;
    letter-spacing: 0.06em;
    color:#A5A5A5;
    margin-right: 3vw;
}
.template-article .article__date a{
    font-size: 4.4vw;
    margin-right: 3vw;
}
.template-article h1{
    font-size: 6.2vw;
    letter-spacing: 0.12em;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif !important; font-weight:500;
    margin-bottom: 0;
    line-height: 1.58695652173913;
}
.template-article .article__date{
    margin-bottom: 2.1vw;
}
//ブログ記事ヘッダー画像
.template-article .collection-hero{
    height: 72.8vw;
    margin-bottom: 11.6vw;
}
//ブログ記事：リード文
.blog-lead{
    padding: 0 10vw;
}
  
//ブログ記事：目次
#htag-list{
    padding: 10vw 10vw 8vw;
    font-size: 3.5vw;
    letter-spacing: 0.07em;
    margin-bottom: 26.8vw;
}
#htag-list:before{
    font-size: 5.7vw;
}
#htag-list > ol{
    margin: 5.1vw 0 0 5vw;
}
#htag-list > ol > li{
    margin: 3.1vw 0 ;
    list-style: inherit;
}
//ブログ記事：本文
.template-article h2{
    padding: 0 10vw;
}
.article__body h2{
    font-size: 4.5vw;
    letter-spacing: 0.14em;
    font-weight: 600;
    color: #C8AB7A;
    margin-bottom: 9.2vw;
}
.article__body p{
    font-size: 3.8vw;
    margin-bottom: 7.8vw;
    line-height: 2.142857142857143;
    letter-spacing: 0.05em;
}
.article__body p a{
    font-size: 3.5vw;
    letter-spacing: 0.03em;
}
.blog-main-text{
    padding: 0 10vw ;
    margin-bottom: 13.6vw;
}
//ブログ画像
.blog-images{
    width: 100%;
    background-size: cover;
    height: 53.4vw;
    margin-bottom: 15.8vw;
    position: relative;
}
.blog-images-half-wrap{
    display: block;
}
.blog-images.is-half{
    width: 100%;
    height: 101vw;
}
.blog-images.is-half:first-child{
    margin-right:0;
}
.blog-images.is-half:last-child{
    margin-left:0;
}

.blog-images.is-full img,.blog-images.is-half img{
    width: 100%;
    height: unset;
}
  
  
.blog-image-margin{
    margin-bottom: 39vw;
}
//ブログ画像キャプション
.blog-image-caption{
    position: absolute;
    bottom: -7.7vw;
    left: 3vw;
    font-size: 3.3vw;
    
}
//ブログ内コレクション
.blog-collection{
    margin-left: 0;
    padding:0 5vw 0 5vw;
}
h2.blog-collection-title{
    margin-bottom:10vw;
}
//次のブログ
.blog-next-article{
    display: block;
    margin: 0 10vw;
    padding-top: 4.8vw;
    border: 0px;
    margin-bottom: 32vw;
}
.blog-next-article .blog-list-pc{
    display: block;
    width: 100%;
    border-bottom: solid 1px #DDDDDD;
    border-top: solid 1px #DDDDDD;
    padding: 5vw 0 7.8vw;
    margin-top:-1px;
}
.blog-next-title{
    font-size: 7.6vw;
    letter-spacing: 0.04em;
}
.blog-next-article .blog-list-pc > p {
    font-size: 3.3vw;
    margin: -1.6vw 0 4vw;
}
.blog-next-article .blog-list {padding: 0;}
.blog-next-article .blog-list-item{
    padding: 0;
    display: flex;
}
.blog-next-article .blog-list .article__grid-image {
    width: 42%;
}
.template-article .blog-next-article .grid__image-ratio {height: 24vw;}
.blog-next-article .blog-list .blog-list-meta {
    padding-left: 7vw;
    width: 57%;
    margin-top: -1vw;
}
.article__grid-meta {margin-bottom: 0;}
.blog-next-article .blog-list .article__date time {
    font-size: 3.4vw;
    letter-spacing: 0.06em;
    margin-right: 2vw;
}
.blog-next-article .blog-list .blog-tag {
    font-size: 3.5vw;
    letter-spacing: 0.03em;
}
.blog-next-article .blog-list .article__title {
    font-size: 3.3vw;
    letter-spacing: 0.1em;
    margin-top: 1.8vw;
    line-height: 1.61;
}
//最近のブログ
.blog-related-title {
    font-size: 11vw;
    letter-spacing: 0.08em;
    line-height: 1.104651162790698;
    margin-bottom: 1.6vw;
}
.blog-related p {
    font-size: 3.4vw;
    letter-spacing: 0.08em;
    margin-bottom: 7.8vw;
}
.blog-related .blog-list-mobile{
    margin:0;
}    
.blog-related .blog-list-mobile button{
    display: none !important;
}    
.blog-related .grid__image-ratio {
    height: 50vw;
}
.blog-related .blog-list {
    padding: 0;
}
.blog-related .blog-list .article__date .blog-tag {
    font-size: 4.4vw;
    letter-spacing: 0.03em;
}
.blog-related .rte {
    width: 56%;
    margin-top: 10vw;
}
.blog-related a.see-more {
    font-size: 6.6vw;
    letter-spacing: 0.09em;
    padding-bottom: 2vw;
    margin-bottom: 36vw;
}

  
}
//ホバー時拡大
.blog-list-item .image-wrap div {
    transition: transform 0.5s;
}
.blog-list-item:hover .image-wrap div {
    transform: scale(1.07);
}

.custom-fields-wrapper{
  @media (max-width: 600px) {
	padding: 0 5vw;
  }   
}

.custom-fields-wrapper .cf-widget-field__title{
	color: #c8ab7a;
}