
/*--------------------------------------------------------------------------------

ヘッダー

--------------------------------------------------------------------------------*/

//翻訳バー非表示
.toolbar.small--hide{
    display: none;
}

.header-sticky-wrapper{display:none;}
.site-header{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 10;
    background: #fffffff0;
    opacity: 0;
    transition: opacity 0.25s;
    padding: 0;
    pointer-events: none;
    box-shadow: none !important;
    transition: all 0.25s;
}
.header-fixed{opacity: 1; pointer-events: auto;
}
.header-wrap{
    max-width:100%;
    height: 112px;
    margin:0 auto;
 	padding: 0 55px ;
    display: flex;
    align-items:center;
}
.site-logo{
    font-size: 0;
    line-height: 1;
	width: 28%;
}
.site-logo svg{
	width: 203px;
}
.site-header:not(.sp-top)  .site-logo svg g path{fill:#C8AB7A;}
.site-logo svg g path,.hamub-menu-btn svg g line{
    transition: all 0.4s;
}


.gnavi{
    width: 44%;
}
.top-header .gnavi > ul{justify-content: center;}
.gnavi > ul{justify-content: center;}
.header-icons{
    font-size:13px;
    width: 28%;
/*     text-align: right; */
}
.header-icons a:hover {
  color:#C9C9C9 !important;
}
.gnavi > ul {
    display: flex;
    margin:0;
}
.gnavi > ul > li{
    height: 112px;
    font-size:19px;
    width: 110px;
    text-align: center;
    margin:0;
    padding-top:40px;
}
.site-header .navi-text{
  font-family:  "TTDrugs-R" !important;
  transition: all 0.4s;
}
a.navi-text.is-active{
    color:#C8C8C8;
}
.gnavi > ul > li:hover .navi-text{color:#C9C9C9;}

//お気に入りアイコン
.favorite-icon svg{
    width: 15px;
    height: 14px;
    position: relative;
    top: 3px;
    transition: all 0.4s;
}
.favorite-icon svg g path{
    transition: all 0.4s;
}
//言語セレクター
.select-lang-wrap{
    display:none;
    position: absolute;
    top: 80px;
    padding-top: 24px;
    text-align: center;
    width: 110px;
    height: 146px;
    right: 45px;
    z-index: 100000;
}
.header-fixed .select-lang-wrap{
    top: 60px;
}
.select-lang-wrap ul{
    background-color: #FFF;
    margin: 0;
    padding: 24px 29px 18px;
    box-shadow: 0px 0px 24px #00000012;
}
.select-lang-wrap li{
    margin-bottom: 6px;
}
a.select-lang{
    font-size: 11px !important;
    letter-spacing: 0.04em;
    margin-right: 16px;
}
.select-lang-wrap a{
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #4b4b4b !important;
    animation: unset !important;
    margin:0 !important;
}

.select-lang-wrap a.is-active,.select-lang a.is-active{
    color: #C9C9C9 !important;
    pointer-events: none;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------PC:メガメニュー--*/
.site-header .menu_contents{
  box-shadow:0px 10px 10px #00000002;
}
.menu_contents {
  background: #fffffff0;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

}
.menu_contents_inner{
    position: relative;
    width:840px;
    margin: 0 auto;
    padding-top: 27px;
    display: flex;
    margin-bottom:82px;
    text-align: left;
}

.jewelry-header-menu ul{
    margin-left:30px;
    width:20%;
    display: block;
}
.menu_contents span.menu-content-title{
    font-family:  "TTDrugs-R" !important;
    font-size:22px;
    letter-spacing: 0.04em;
}
.menu_contents span.menu-japanese{
    font-size:11.5px;
    display: block;
    margin-bottom:20px;
    color:#919191;
    margin-top: -3px;
    letter-spacing: 0.02em;
}
.menu_contents ul li{
    font-size: 12px;
    letter-spacing: 0.04em;
    margin-bottom: 0.50em;
}
.menu_contents ul li:hover a{
  color:#C8AB7A !important;
}

/*--メガメニュー：アバウト--*/
.about-header-menu .grid{
    margin-right: -40px;
    margin-left: -40px;
}
.about-header-menu .medium-up--one-third{padding: 0 40px;}
.about-header-menu h3{
    font-size: 20px;
    margin-bottom:-4px;
}
.about-header-menu span{
    font-size: 13px;
}
.about-header-menu .service-header-img {
    height: 155px;
}
.about-header-menu .menu-content-title{
    transition: color 0.4s;
}
.about-header-menu a:hover .menu-content-title{
    color:#C8AB7A;
}
/*--メガメニュー：サービス--*/
.service-header-menu ul{
    display: flex;
    margin-left:-12px;
    margin-right:-12px;
    justify-content: center;
}
.service-header-menu ul li{
    font-family:  "TTDrugs-R" !important;
    width: 20%;
    padding:12px;
    font-size:18px;
    line-height: 1.1;
}
.service-header-menu span{
    margin-top: 6px;
    display:block;
    font-size:10px;
    letter-spacing: 1px;
    color:#919191;
}
.service-header-img{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    height: 102px;
    margin-bottom: 13px;
}
.service-header-img img{
    transition: transform 0.4s;
    margin-bottom: 0;
}
.service-header-img:hover img{
    transform: scale(1.08);
}


/*--ヘッダーアイコン--*/
.header-icons > a,,.hamub-right-top > a{
    font-family: "TTDrugs-R" !important;
    font-size: 14px;
    margin-left: 20px !important;
    letter-spacing: 0.04em;
}
.header-icons .cart-item-count,.hamub-right-top .cart-item-count{
    text-align: center;
    background: #4b4b4b;
    border-radius: 20px;
    color: #FFF;
    width: 20px;
    margin-left: -4px;
    display: inline-block;
    transform: scale(0.74);
    transition: all 0.4s;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------SPヘッダー--*/
/*--SP用ヘッダー：PCで非表示--*/
.sp-header{display:none;}
@media only screen and (max-width: 768px)
{
.header-wrap{
    height: 24vw;
 	padding: 0;
}
.top-header{display: none;}
.site-header{display: none;}
.site-header.sp-header{
    display:block;
    position: fixed;
    opacity: 1;
    background: none;
    pointer-events: auto;
}
.site-header.sp-header.header-fixed{background: #fffffff0;}
.site-header.sp-header.header-white{background: #fffffff0;}

.sp-menu{width: 30%; padding-left:10px;}
.sp-menu-left{
    display:flex;
    width: 30%;
    padding-left: 5vw;
    height: 5vw;
}
.sp-hamub-menu-btn svg{
    pointer-events: all;
    width: 7.5vw;
  height: 5vw;
}
.site-logo{
  width: 40%;
  text-align:center;
}
.sp-header .site-logo svg{
    width: 35vw;
}

.header-icons{
    display:flex;
    justify-content: flex-end;
    padding-right: 2.8vw;
  height: 5vw;
}
.header-icons a {margin-left:3vw !important;}
.header-icons a svg{
    height: 4vw;
    width: 4.7vw;
}
.header-icons .cart-item-count{
    position: absolute;
    right: -0.5vw;
    top:-2.2vw;
    border-radius: 50%;
    color: #FFF;
    width: 5vw;
    height: 5vw;
    margin-left: 0;
    font-size: 3.5vw;
    display: inline-block;
    transform: scale(0.74);
}
.sp-header .header-icons .favorite-icon{
    padding-left: 9vw !important;
    padding-right: 0 !important;
}
/*--ハンバーガーボタン押下時の動作--*/
.hamub-open{position: absolute;}
.hamub-close{
    position: absolute;
    margin-top: 0vw;
    display: none;
}
.hamub-close svg{width: 6vw !important;}
  .sp-hamub-menu-btn.is-active .hamub-open{
    opacity: 0;
}
.sp-hamub-menu-btn.is-active .hamub-close{
    display: block;
    margin-left: 1vw;
}

//検索ボタン
.sp-search-menu{
    display: none;
    position: absolute;
    width: 100%;
    background: #fffffff0;
    top: 100%;
    height: calc(100vh - 24vw);
    overflow-x: hidden;
    padding: 0 10vw;
}

.sp-hamub-search-btn {
    position: relative;
    left: 11vw;
    top: -0.4vw;
}
.sp-hamub-search-btn svg{
    width: 5vw;
  height: 5vw;
}

.search-open{position: absolute;}
.search-close{
    position: absolute;
    margin-top: 0.3vw;
    display: none;
}
.search-close svg{width: 6vw !important;}
.sp-hamub-search-btn.is-active .search-open{opacity:0;}
.sp-hamub-search-btn.is-active .search-close{display: block;}
//SP検索
  .sp-search-menu{
    padding-top: 7.8vw;
    padding-bottom: 10vw;
}
.sp-search{
    border-bottom: solid 1px #DDDDDD;
}
.sp-search-menu ul{
    display: none;
    margin:0;
    padding: 0 0 15vw 0;
}
.sp-search-menu h3{
    font-size: 7vw;
    letter-spacing: 0.04em;
    padding-bottom: 3vw;
    font-family: "TTDrugs-R" !important;
    border-top: solid 1px #DDDDDD;
    padding-top: 4.1vw;
    background-image: url('https://cdn.shopify.com/s/files/1/0268/1202/2962/files/arrow-bottom-gold_2.svg?v=1614138349');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 4vw;
}
.sp-search-menu h3.active {
    background-image: url('https://cdn.shopify.com/s/files/1/0268/1202/2962/files/arrow-top-gold_ead12ea3-99e6-408a-abc5-ab7b435af237.svg?v=1614138701');
}
.sp-search-menu span{
    font-size: 3.5vw;
    letter-spacing: 0.04em;
    margin-top: -1.6vw;
    display: block;
    color:#848484;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif; font-weight:500;
}

.sp-search-menu ul li{
    width: 49%;
    display: inline-block;
    font-size: 3.5vw;
    margin-bottom: 2vw;
}
.sp-search-menu ul li:before{
    content:"";
    background-image: url('https://cdn.shopify.com/s/files/1/0268/1202/2962/files/arrow-right-silver.svg?v=1614139062');
    background-repeat: no-repeat;
    background-size: 1.7vw;
    width: 3vw;
    height: 3vw;
    display: inline-block;
    position: relative;
    margin-right: 0.6vw;
}
  //検索バー
.sp-search-menu form.search-bar{
    min-height: unset !important;
    height: 14vw !important;
}
.sp-search-menu form.search-bar input{
    min-height: unset !important;
    height: 14vw !important;
    font-size: 4vw !important;
}
.sp-search-menu form.search-bar button svg{
    width: 6vw;
}
.sp-search-menu .input-group-btn button{
    min-width: 10vw;
    width: 14vw;
}
.sp-search-menu h4{
    font-size: 5vw;
    letter-spacing: 0.07em;
    display: inline-block;
    font-family: "TTDrugs-R" !important;
    font-weight: 500;
    margin-right: 2vw;
    margin-top: 10vw;
    margin-bottom: 2vw;
}
.sp-search-menu span.search-bar-subtitle{
    font-size: 3.3vw;
    width: auto;
    color:#848484;
    letter-spacing: 0.07em;
    display: inline-block;
}


}

/*--------------------------------------------------------------------------------------------------------------------------------PC：ハンバーガー--*/

/*--ハンバーガーメニュー：ボタン--*/
.hamub-menu-btn{
    vertical-align: middle;
    z-index: 2;
    margin-left:10px;
    width: 26px;
    padding-top:4px;
    display: inline-block;
}
.hamub-menu-btn svg{width: 100%;}
.hamub-menu-btn.is-active{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
     pointer-events: auto;
}

/*--ハンバーガーメニュー：本体--*/
.hamub-menu{
  pointer-events: none;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: flex;
  background: #FFF;
  transition: opacity 0.3s ;
}

/*--ランダム背景表示--*/
.random-bg1{
    background-image: url('https://cdn.shopify.com/s/files/1/0268/1202/2962/files/bg-ring_2.png?v=1611386098');
    background-size:50vw;
    background-repeat: no-repeat;
	background-position: left 40% top 10%;
}
.random-bg2{
    background-image: url('https://cdn.shopify.com/s/files/1/0268/1202/2962/files/bg-ring_1.png?v=1611386097');
    background-size:50vw;
    background-repeat: no-repeat;
	background-position: right -40% top 50%;
}
.random-bg3{
    background-image: url('https://cdn.shopify.com/s/files/1/0268/1202/2962/files/bg-ring_3.png?v=1611386099');
    background-size:50vw;
    background-repeat: no-repeat;
	background-position: left 40% top -20vw;
}


/*--ハンバーガーメニュー：メニュー--*/
.hamub-menu.is-active{
  transition: opacity 0.4s ;
  pointer-events: auto;
  opacity: 1;
}
.hamub-left{
    width: 42%;
    height: 100vh;
    position: relative;
    // background-image: url('https://cdn.shopify.com/s/files/1/0268/1202/2962/files/hamub-back.jpg?v=1615440688');
  	background-size: cover;
}
.hamub-right{
    display: flex;
    flex-direction: column;
    width: 58%;
}
.hamub-right-top{
    width: 100%;
    height: 30%;
    text-align: right;
    padding: 0;
    font-size: 13px;
}
.hamub-menu.is-fixed .hamub-right-top{
    padding: 0;
}
.hamub-right-top a {
    margin-left: 15px;
    font-family: "TTDrugs-R" !important;
}
.hamub-right-middle{
    width: 100%;
    height: 45%;
    display: flex;
    align-items: top;
}
.hamub-right-main{
    padding-left: 15%;
    width: 50%;
}
.hamub-right-sub{
    padding-top: 4px;
    padding-left: 9%;
    width: 50%;
    position: relative;
}
.hamub-right-sub svg {
    width:43px;
    height:43px;
}
.hamub-menu ul{
    margin-bottom: 64px !important;
}
.hamub-right-sub .insta{
    position: relative;
    display: inline-block;
}
.hamub-right-sub .face{
    position: relative;
    display: inline-block;
}
.hamub-right-bottom{
    height: 26%;
    text-align: center;
    padding-top: 47px;
}
.hamub-right-bottom svg{width: 183px;}

.hamub-menu ul{margin: 0;}
.hamub-right-main li{
    margin-bottom:32px;
    font-size:31px;
  	font-family:  "TTDrugs-R" !important;
    letter-spacing: 0.07em;

}
.hamub-right-sub li{
    margin-bottom:10px;
    font-size:22px;
  	font-family:  "TTDrugs-R" !important;
}
.hamub-right-main li:hover a,.hamub-right-sub li:hover a{ color:#C8AB7A !important;}
.menu__item{
  width: 100%;
  height: auto;
  padding: .5em 1em;
  text-align: center;
  color: #000;
  box-sizing: border-box;
}


/*--SP：ハンバーガー：フッター共通メニュー--*/
@media only screen and (max-width: 768px)
{
.sp-hamub {
    opacity:0;
  	display:none;
    position: absolute;
    width: 100%;
    background: #fffffff0;
    top:100%;
  	left:0;
    height: 100vh;
    overflow: hidden;
    padding:0 10vw;
}
.hamb_menu_toggle_btn_sp:checked+.sp-hamub {
  opacity: 1;
  pointer-events: auto;
}
  
  
.sp-menu-multiple .hamub-main-sp ul{
    display: none;
}
.sp-menu-multiple .sp-main-menu{
    position: relative;
    margin-bottom: 3.9vw;
}
.sp-menu-multiple .sp-main-menu  a{
    font-family:"TTDrugs-R" !important;
    letter-spacing: 0.08em;
}
.sp-menu-multiple .sp-js-accordion{
    position: absolute;
    right: 0px;
    top:0;
}
.sp-menu-multiple .sp-js-accordion {width: 50%; text-align: right;}
.sp-menu-multiple .sp-js-accordion svg{
    width: 3.4vw;
}
.sp-menu-multiple .sp-js-accordion .minus-icon{display: none; }
.sp-menu-multiple .sp-js-accordion.is-active .minus-icon{display: block; top: 0;}
.sp-menu-multiple .sp-js-accordion.is-active .minus-icon svg{margin-bottom: 2.2vw;}
.sp-menu-multiple .sp-js-accordion.is-active .plus-icon{display: none; float: right;}

.sp-menu-multiple .hamub-main-sp{
    padding:5.6vw 0;
    font-size: 7.5vw;
}
.sp-menu-multiple .hamub-main-sp ul{
    margin-left: 0;
    margin-bottom:13vw;
    line-height: 1.2;
}
.sp-menu-multiple .hamub-main-sp li{
    display: inline-block;
    width: 48%;
    font-size: 3.4vw;
    line-height: 1;
}
.sp-menu-multiple .hamub-sub-sp{
    display: flex;
    font-family:"TTDrugs-R" !important;
    font-size:4.4vw;
    letter-spacing: 0.3vw;
    margin-bottom: 4vw;
}
.sp-menu-multiple .hamub-sub-sp a{
    display: block;
    margin-bottom: 5vw !important;
    padding-right: 5vw ;
 }
.sp-menu-multiple .hamub-sub-sp-left{width: 65%;}
.sp-menu-multiple .hamub-sub-sp-right{width: 35%;}

.sp-hamub .header-icons{
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5vw 5vw 5vw 0;
    border-top:solid 1px #DDDDDD;
    margin-bottom: 8vw;
}
.sp-hamub .header-icons a{
    font-family:"TTDrugs-R" !important;
    position: relative;
    font-size: 4.4vw;
    padding: 0 5vw;
    margin-left: 0 !important;

}
.sp-hamub .header-icons .cart-item-count{
    top: 1.1vw;
    right: -1vw;
    width: 5vw;
    font-size:3vw;
}
}

  /*-------------------透過ヘッダー-------------------*/
.site-header.header-cleared{transition:background 0.4s;}
.site-header.header-cleared{background: none;}
.site-header.header-cleared .site-logo svg g path{fill:#4B4B4B;}
//文字色が白色の透過ヘッダー
.site-header.header-cleared.white-text .navi-text,.site-header.header-cleared.white-text .header-icons a{color:#FFF ;}
.site-header.header-cleared.white-text .sp-menu-left svg g line{stroke:#FFF;}
.site-header.header-cleared.white-text .site-logo svg g path,.site-header.header-cleared.white-text .favorite-icon svg g path{fill:#FFF;}
.site-header.header-cleared.white-text .header-icons .cart-item-count{background: #FFF; color:#4B4B4B  ;}
.site-header.header-cleared.white-text .header-icons a{color:#FFF;}
.site-header.header-cleared.white-text .hamub-menu-btn svg g line{stroke: #FFF;}
  /*-------------------PCヘッダー：固定時-------------------*/


  /*-------------------PCヘッダー：ホバー時-------------------*/
.site-header.is-hover{background: #FFFFFFF0;}
.site-header.is-hover .hamub-menu-btn svg g line{stroke:#4B4B4B !important;}
.site-header.is-hover .site-logo svg g path{fill:#C8AB7A  !important; }
.site-header.is-hover .header-icons .cart-item-count{background: #4B4B4B !important ; color:#FFF !important ;}
.site-header.is-hover  .favorite-icon svg g path {fill:#4B4B4B !important;}
.site-header.is-hover .navi-text,.site-header.is-hover .header-icons a{color:#4B4B4B !important ;}


@media only screen and (max-width: 768px)
{
//透過ヘッダー
.site-header.sp-header.header-cleared{background: none;}
.site-header.sp-header.header-cleared .navi-text{color:#FFF;}
.site-header.sp-header.header-cleared .sp-menu-left svg g line{stroke:#FFF;}
.site-header.sp-header.header-cleared .header-icons svg path,
.site-header.sp-header.header-cleared .header-icons svg rect,
.site-header.sp-header.header-cleared .sp-menu-left svg g path{ fill: #FFF;}
  /*-------------------SPヘッダー：スクロール-------------------*/
 .sp-header.header-fixed svg rect,
 .sp-header.header-fixed .header-icons svg path,
 .sp-header.header-fixed .sp-menu-left  svg path{ fill:#4b4b4b !important;}
 .sp-header.header-fixed .site-logo svg path { fill:#C8AB7A ;}
 .sp-header.header-fixed .sp-menu-left svg g line { stroke:#4b4b4b !important;}
 .sp-header.header-fixed .cart-item-count { background:#4b4b4b !important; color:#FFF !important;}

//透過ヘッダー
.site-header.sp-header.white-text.header-cleared{background: none;}
.site-header.sp-header.white-text.header-cleared .sp-menu-left svg g line{stroke:#FFF !important;}
.site-header.sp-header.white-text.header-cleared .header-icons  svg path,
.site-header.sp-header.white-text.header-cleared .header-icons  svg rect,
.site-header.sp-header.white-text.header-cleared .site-logo  svg path,
.site-header.sp-header.white-text.header-cleared .sp-menu-left svg g path{ fill: #FFF !important;}
.site-header.sp-header.white-text.header-cleared .cart-item-count { background:#FFF !important; color:#4b4b4b !important;}
  /*-------------------SPヘッダー：メニューオープン-------------------*/
 .sp-header.header-white {background:#fffffff0 !important;}
 .sp-header.header-white svg rect,
 .sp-header.header-white .sp-menu-left  svg path,
 .sp-header.header-white .header-icons svg path{ fill:#4b4b4b !important;}
 .sp-header.header-white .site-logo  svg path{ fill:#C8AB7A !important;}
 .sp-header.header-white .sp-menu-left  svg g line { stroke:#4b4b4b !important;}
 .sp-header.header-white .cart-item-count { background:#4b4b4b !important; color:#FFF !important;}

 .site-header.sp-header.white-text.header-cleared.header-white  .sp-menu-left svg g line{stroke:#4b4b4b !important;}
.site-header.sp-header.white-text.header-cleared.header-white .header-icons  svg path,
.site-header.sp-header.white-text.header-cleared.header-white .header-icons  svg rect,
.site-header.sp-header.white-text.header-cleared.header-white .sp-menu-left svg g path{ fill: #4b4b4b !important;}
.site-header.sp-header.white-text.header-cleared.header-white .cart-item-count { background:#4b4b4b !important; color:#FFF !important;}
.site-header.sp-header.header-cleared.white-text .header-icons a {
    color: #4b4b4b;
}

.site-header.sp-header.white-text.header-cleared.header-white .site-logo  svg path{fill:#C8AB7A !important;

}
}

/*--------------------------------------------------------------------------------

フッター

--------------------------------------------------------------------------------*/
.site-footer{
  	padding-bottom:0px;
    margin: 0 55px;
    border-top: 0px !important;
    margin-top: -6px;
    padding-top: 6px;
}
.footer-wrap{
    margin: 0 auto;
    max-width: 1170px;
}
.footer-wrap.is-pc a:hover{
    color:#C8AB7A !important ;
}
.footer-flex {
    display: flex;
    margin-bottom: 40px;
}
.footer-box{width: 22.5%;}
.footer-box h4{
    font-size:24px;
    font-family: "TTDrugs-R" !important;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 15px;
    line-height: 1.1;
}
.footer-box ul{margin:0;}
.footer-box li{
    font-size:13px;
    margin-bottom: 7px;
    letter-spacing: 1.5px;
    color:#6F6F6F ;
}
.footer-box li a{color:#6F6F6F ;}
.footer-box.is-1{width: 34%;
    text-align: center;}
.footer-box.is-1 svg{
    width: 249px;
    margin-top: 13px;
}
.footer-flex.is-middle .footer-box.is-4 h4{font-size:21px;}
.footer-box.is-4 svg{
    width: 43px;
    height: 43px;
    margin-top: 13px;
    margin-right: 4px;
}

.footer-flex.is-bottom {margin-top:140px;}
.footer-flex.is-bottom .footer-box.is-2{
    font-size:12px;
    width: 45%;
}
.footer-flex.is-bottom .footer-box.is-2 a:first-child {margin-left: 0px;
}
.footer-flex.is-bottom .footer-box.is-2 a{
    margin:18px;
    line-height: 2.3;
}
.footer-flex.is-bottom .footer-box.is-4 span{
    font-size:11px;
    color:#A5A5A5;
}

.sp-footer{display: none;}

//フッター境界線
.footer-border-wrap{
    display: flex;
    margin-bottom: 55px;
}
.footer-border{
    height: 24px;
    width: 49%;
    border-top: solid 1px #EEEEEE ;
}
.footer-arrow{
    top: -10px;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-bottom: -6px;
    margin: 0 26px;
    height: 19px;
    z-index: 1;
    position: relative;
    transform: rotate(-90deg);
    transition: transform 0.3s;
}
.footer-arrow:hover{
    transform: rotate(-90deg) scale(1.3);
}

@media only screen and (max-width: 768px){

//フッター境界線
.footer-border-wrap{
    margin-bottom: 0;
}
.footer-border{
    height: 5vw;
    width: 42%;
    border-top: solid 1px #EEEEEE ;
}
.footer-arrow{
    top: -3vw;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-bottom: -6px;
    padding:  0;
    height: 5.5vw;
    z-index: 1;
    position: relative;
    transform: rotate(-90deg);

}
}

@media only screen and (max-width: 768px){
.site-footer{
    margin: 0 5vw;
    padding-top: 2vw;
}
.footer-wrap.is-pc{display: none;}
.sp-footer{
  display:block;
    padding: 3vw 5vw 10vw;
}
.sp-menu-list .sns-icon-sp-footer {
    text-align: center;
  	margin-top: 6.3vw;
    margin-bottom: 6.3vw;
}
.sp-menu-list .sns-icon-sp-footer svg{
    width: 14vw;
    margin: 0 1.1vw;
    height: 14vw;
}
.sp-menu-list .sns-icon-sp-footer img{
    width: 14vw;
    margin: 0 1.1vw;
    height: 14vw;
}
.sp-menu-list .select-lang{
    text-align: center;
    margin-bottom: 12vw;
}
.sp-menu-list .select-lang a{
    font-size: 3vw;
    margin: 0 2.8vw;
}
.sp-menu-list .legal-notice{
    text-align: center;
    margin-bottom: 6.7vw;
}
.sp-menu-list .legal-notice a{
    font-size: 2.5vw;
    margin:0 2.8vw;
}
.sp-footer .copyright{
    text-align: center;
}
.sp-footer .copyright{
  font-size:2.5vw;
    color: #A5A5A5;
}
}
/*--------------------------------------------------------------------------------

カートドロワー

--------------------------------------------------------------------------------*/
@media only screen and (min-width: 769px){
//カートドロワー
.drawer--right {
    width: 422px;
    right: -400px;
}
}
//カートドロワー：ヘッダー
.drawer__fixed-header{
    padding: 44px 60px 0;
    height: 128px;
}
.drawer__header{
    border: none;
    height: auto;
}
.h2.drawer__title{
    font-family: "TTDrugs-R" ;
    font-size: 34px;
    letter-spacing: 0.04em;
}
//カートドロワー：クローズ
.drawer__close svg {width: 25px;}
.drawer__close-button {right: -12px;}
//カートドロワー：コンテンツ
.drawer__scrollable{padding: 0 60px;}
.ajaxcart__row{
    border: none;
    padding: 0;
    margin-bottom: 13px;
}
.ajaxcart__product-name--wrapper{
    line-height: 1.5;
    font-size: 14px;
    letter-spacing: 0.06em;
    margin-bottom: 6px;
}
.ajaxcart__product-meta{
    font-size: 12px;
    letter-spacing: 0em;
}
.ajaxcart__price{
    font-size: 14px;
    letter-spacing: 0.06em;
}
//カートドロワー：数量
.js-qty__wrapper{
    width: 72px;
    height: 28px;
}
.js-qty__wrapper input{
    font-size: 12px !important;
    height: 28px;
}
.js-qty__adjust{padding: 0 3px;}
.drawer .js-qty__adjust svg{width: 10px;}
.js-qty__adjust.js-qty__adjust--plus{padding-top: 5px;}
.js-qty__adjust.js-qty__adjust--minus{padding-bottom: 7px;}
//カートドロワー：フッター
.drawer__footer{
    padding: 0;
    border: none;
}
.drawer__footer .grid {
    padding-top: 15px;
    margin: 0 60px;
    border-top:solid 1px #DDDDDD ;
    font-size: 14px;
    font-weight: 600;
}
.ajaxcart__subtotal{
    letter-spacing: 0.06em ;
    font-size: 100%;
}
.drawer__footer .ajaxcart__price{
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.06em ;
}
.ajaxcart__note{
    margin: 0 60px 50px;
    font-size: 11px;
    letter-spacing: 0.04em;
}
.drawer__footer button{
    height: 63.5px;
    font-weight: 500;
    padding-top: 16px;
    letter-spacing: 0.12em;
}

.drawer__footer button[type= "submit"],
.drawer__footer input[type= "submit"]{
    margin: 0 auto;
    font-size: 14px !important;
    font-weight: 500;
    background-image: url('https://cdn.shopify.com/s/files/1/0268/1202/2962/files/arrow-right.svg?v=1613309577');
    background-size: 6.5px;
    background-repeat: no-repeat;
    background-position: right 10px center;
}
.drawer__footer button[type= "submit"]:hover,
.drawer__footer input[type= "submit"]:hover{
    background-image: url('https://cdn.shopify.com/s/files/1/0268/1202/2962/files/arrow-right.svg?v=1613309577') !important;
    background-size: 6.5px !important;
    background-repeat: no-repeat !important;
    background-position: right 10px center !important;
}
//備考欄
.drawer__scrollable .ajaxcart__note{
    margin: 50px 0 0;
}

@media only screen and (max-width: 768px){
//カートドロワー
.drawer--right {
    max-width: 100vw;
    width: 100vw;
    right: -100vw;
}
.drawer--right.drawer--is-open {
    transform: translateX(-100vw);
}
//カートドロワー：ヘッダー
.drawer__fixed-header{
    padding: 10.3vw 10vw 0;
    height: 33vw;
}
.drawer__header{
    border: none;
    height: auto;
}
.h2.drawer__title{
    font-family: "TTDrugs-R" ;
    font-size: 8.8vw;
    letter-spacing: 0.04em;
    padding-left: 0;
}
//カートドロワー：クローズ
.drawer__close svg {width: 7vw;}
.drawer__close-button {right: -2vw;}
//カートドロワー：コンテンツ
.drawer__scrollable{padding: 0 10vw;}
.ajaxcart__row{
    border: none;
    padding: 0;
    margin-bottom: 3vw;
}
.ajaxcart__product-name--wrapper{
    font-size: 3.5vw;
    margin-bottom: 1vw;
}
.ajaxcart__product-meta{
    font-size: 3vw;
}
.ajaxcart__price{
    font-size: 3.5vw;
}
//カートドロワー：数量
.js-qty__wrapper{
    width: 75% !important;
    height: 7.4vw;
}
.js-qty__wrapper input{
    font-size: 3.3vw !important;
    height: 7.4vw;
}
.js-qty__adjust{padding: 0 1vw;}
.drawer .js-qty__adjust svg{width: 2.5vw;}
.js-qty__adjust.js-qty__adjust--plus{padding-top: 1vw;}
.js-qty__adjust.js-qty__adjust--minus{padding-bottom: 1vw;}
//カートドロワー：フッター
.drawer__footer{
    padding: 0;
    border: none;
}
.drawer__footer .grid {
    padding-top: 4vw;
    margin: 0 10vw;
    font-size: 3.7vw;
}
.ajaxcart__subtotal{
    font-size: 100%;
}
.drawer__footer .ajaxcart__price{
    font-size: 4.2vw;
}
.ajaxcart__note{
    margin: 0 10vw 13vw;
    font-size: 2.9vw;
    letter-spacing: 0.04em;
}
.drawer__footer button{
    height: 17vw;
    padding-top: 3.4vw;
    letter-spacing: 0.13em;
}
.drawer__footer button[type= "submit"],
.drawer__footer input[type= "submit"]{
    margin: 0 auto;
    font-weight: 500;
    font-size: 4vw !important;
    background-image: url('https://cdn.shopify.com/s/files/1/0268/1202/2962/files/arrow-right.svg?v=1613309577');
    background-size: 1.8vw;
    background-repeat: no-repeat;
    background-position: right 3vw center;
}
.drawer__footer button[type= "submit"]:hover,
.drawer__footer input[type= "submit"]:hover{
    background-image: url('https://cdn.shopify.com/s/files/1/0268/1202/2962/files/arrow-right.svg?v=1613309577') !important;
    background-size: 1.8vw !important;
    background-repeat: no-repeat !important;
    background-position: right 3vw center !important;
}
//備考欄
.drawer__scrollable .ajaxcart__note{
    margin: 10vw 0 0 ;
    font-size: 3.5vw !important;
}
.drawer__scrollable .cart-notes{
    height: 25vw;
}
}

//ページ内メニュー：PC
.page-menu-contents{
    border-top: solid 1px #EEEEEE;
    display: block;
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
}
.page-menu-contents .menu_contents_inner {
    padding-top: 53px;
    margin-bottom: 142px;
}
.page-menu-contents span.menu-content-title {
    font-size: 23px;
}
.page-menu-contents span.menu-japanese{
    font-size:12.5px;
    margin-bottom:30px;
}
.page-menu-contents ul li {
    font-size: 13px;
    margin-bottom: 0.52em;
}

//ヘッダーバグ修正
.site-header.sp-header.sp-fixed{
    opacity:0 ;
}
.site-header.sp-header.sp-fixed.header-white {
    opacity: 1;
}
.site-header.sp-header.sp-fixed.header-fixed{
    opacity: 1 ;
    animation: unset;
}
.sp-top {
    position: absolute !important;
    top:0;
}
.site-header.sp-top .site-logo svg g path{
}
.sp-top.is-hide{
    opacity: 0 !important;
}
